{% extends "base_generic.html" %}

{% block content %}
    <div class=data-body>
    <div>
      <form method="get">
        <div class="search-product">
          <input type="text" class="search-input" placeholder="Поиск товара" name="product-name">
          <button type="submit" class="search-button">&#128269;</button>
        </div>
        <input type="checkbox" id="articul-search" name="articul-search">
        <label for="articul-search" class="articul-label">Искать по артикулу</label>
      </form>
      <div class="sort-list">
          <form method="post" action="{% url 'catalog' %}">
             {% csrf_token %}
             <select name="sorting_option">
                  <option value="sort-name" {% if sorting_option == "sort-name" %} selected {% endif %}>Сортировка по названию</option>
                  <option value="sort-pop" {% if sorting_option == "sort-pop" %} selected {% endif %}>Сортировка по популярности</option>
                  <option value="price_asc" {% if sorting_option == "price_asc" %} selected {% endif %}>Сортировка по цене ↑</option>
                  <option value="price_desc" {% if sorting_option == "price_desc" %} selected {% endif %}>Сортировка по цене ↓</option>
             </select>
             <button type="submit" class="sort-button">Сортировать</button>
          </form>
      </div>
      <div class="category-list">
        <p class="bigger-text">Категории:</p>
        <div>
          <ul class="categories">
              {% for category in categories %}
                <li {% if current_category == category.name %} class="selected-category" {% endif %}>
                  <a href="{% url 'product_list_by_category' category.slug %}">{{ category.name }}</a>
                </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="contant-shop">
      {% for product in products %}
      <div class="product-card-wrapper">
        <a href="#" class="product-link"></a>
        <a href="#1" class="cart-button">Добавить<br/>в корзину</a>
        <!--<a href="#1" class="delete-cart-button">Убрать<br />с корзины</a>-->
        <div class="product-img-container">
          <img src="{{ product.image.url }}" alt="Ошибка изображения" />
        </div>
        <div class="product-info">
          <p class="product-price">{{ product.price }} бел. руб</p>
          <p class="product-supplier">{{ product.article_number }}</p>
          <p class="product-name">{{ product.name }}</p>
        </div>
      </div>
      {% empty %}
        <p>Ничего не найдено.</p>
      {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
