<!doctype html>
<html>
   <head>
      {% block title %}
      <title>Zoo Shop</title>
      {% endblock %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
   </head>
   <body>
      <header>
      <div class="wrap">
        <nav>
            <ul class="menu-left">
                <li><a href="{% url 'index' %}" class="menu-button">Главная страница</a></li>
                <li><a href="{% url 'catalog' %}" class="menu-button">Каталог</a></li>
                <li><a href="{% url 'news' %}" class="menu-button">Новости</a></li>
                <li><a href="{% url 'feedback' %}" class="menu-button">Отзывы</a></li>
                <li><a href="{% url 'concepts' %}" class="menu-button">Словарь терминов и понятий</a></li>
            </ul>
            <div class="logo">
                <a href="#"></a>
            </div>
            <ul class="menu-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="#" class="profile-button menu-link">{{user.get_username}}</a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="#">Профиль</a></li>
                                    <li><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
                                </ul>
                            </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}" class="profile-button">Вход</a></li>
                {% endif %}
                <li><a href="#" class="menu-button">Корзина</a></li>
            </ul>
        </nav>
      </div>
    </header>
      {% block content %}{% endblock %}
    <footer>
      <a href="{% url 'about' %}">О компании</a>
      <a href="{% url 'contacts' %}">Контакты</a>
      <a href="{% url 'policy' %}">Политика конфиденциальности</a>
      <a href="{% url 'promo_codes' %}">Промокоды и купоны</a>
        <a href="{% url 'vacancies' %}">Вакансии</a>
    </footer>
   </body>
</html>
