{% extends "base_generic.html" %}

{% block content %}
<main>
      <img src="{{ URL_MEDIA }}ZooShopLogo.jpg" alt="Лого" width="10%" />
      <a href="#information">Информация о компании</a>
      <a href="#history">История по годам</a>
      <a href="#rekv">Реквизиты</a>
      <section>
        <h1 id="information">Информация о нашей компании:</h1>
        <p>
          Наша компания <em>"Zoo Shop"</em> - это место, где мы разделяем вашу
          страсть к заботе о домашних пушистых и пернатых друзьях. Мы являемся
          ведущими поставщиками кормов, витаминов, аксессуаров и других товаров
          для ухода за вашими любимцами.
        </p>
        <h2>Наше видение</h2>
        <p>
          <b>Наша цель</b> - обеспечить заботу и комфорт для всех видов домашних
          животных и их владельцев. Мы верим, что счастливые и здоровые питомцы
          делают наши дома более радостными, и мы гордимся тем, что помогаем вам
          достичь этой цели.
        </p>
        <h2>Наши услуги и продукты</h2>
        <p>
          В <em>"Zoo Shop"</em> вы найдете широкий ассортимент товаров для всех
          видов домашних животных, включая собак, кошек, птиц, грызунов, рыб и
          рептилий. Мы предлагаем:
        </p>
        <ul>
          <li>
            <u>Корма высокого качества</u>: Мы тщательно подбираем только лучшие
            бренды кормов, чтобы вашим питомцам не пропало ни одного важного
            питательного элемента.
          </li>
          <li>
            <u>Витамины и добавки</u>: У нас есть широкий выбор витаминов и
            добавок, чтобы обеспечить оптимальное здоровье и благополучие вашего
            пушистого друга.
          </li>
          <li>
            <u>Аксессуары и игрушк</u>: Мы также предлагаем разнообразные
            аксессуары, игрушки и средства для ухода, чтобы сделать жизнь вашего
            питомца более веселой и удобной.
          </li>
        </ul>
        <video controls loop width="380" height="240">
          <source src="{{ URL_MEDIA }}videos/ZooShopVideo.mp4" type="video/mp4" />
          <source src="{{ URL_MEDIA }}videos/ZooShopVideo.webp" type="video/webm" />
        </video>
      </section>
      <section>
        <h1 id="history">История по годам:</h1>
        <ul type="square">
          <li>
            <p><b>2005</b>: Начало пути</p>
          </li>
          <p>
            &nbsp; &nbsp; &nbsp; В 2005 году наша история началась с маленького
            магазина для зоолюбителей. Мы стартовали с небольшого ассортимента
            товаров для домашних животных и одной главной цели - делать жизнь
            питомцев и их хозяев счастливее. Наша страсть к животным стала
            основой нашего бизнеса.
          </p>
          <li>
            <p><b>2010</b>: Рост и расширение</p>
          </li>
          <p>
            &nbsp; &nbsp; &nbsp; С каждым годом наша компания росла, добавляя
            новые бренды и продукты в наш ассортимент. Мы начали предлагать
            широкий выбор кормов, аксессуаров и витаминов, чтобы удовлетворить
            потребности всех видов домашних животных. Наше сообщество клиентов
            также росло, и мы ценили каждого, кто выбирал нас.
          </p>
          <li>
            <p><b>2015</b>: Ответственность и качество</p>
          </li>
          <p>
            &nbsp; &nbsp; &nbsp; В 2015 году мы внедрили строгие стандарты
            качества и безопасности для всех наших товаров. Мы сотрудничаем
            только с надежными поставщиками и брендами, чтобы уверенно
            предоставлять вам лучшие продукты для ваших питомцев. Наша команда
            также усердно работала, чтобы стать экспертами по уходу за
            животными.
          </p>
          <li>
            <p><b>2020</b>: Мы идем в ногу со временем</p>
          </li>
          <p>
            &nbsp; &nbsp; &nbsp; В 2020 году мы запустили наш онлайн-магазин,
            чтобы сделать покупки удобными и доступными для всех. Мы также
            начали предоставлять услуги доставки, чтобы облегчить жизнь наших
            клиентов. В этот период особенно важной стала наша миссия
            поддерживать вас и ваших питомцев, когда мир столкнулся с вызовами
            пандемии.
          </p>
          <li>
            <p><b>Сегодня</b>: Наше обещание</p>
          </li>
          <p>
            &nbsp; &nbsp; &nbsp; Сегодня "Zoo Shop" остается приверженным своей
            миссии -
            <strong
              >предоставлять лучшие товары и услуги для ваших питомцев.</strong
            >
            Мы гордимся тем, что помогаем вам создавать счастливые и здоровые
            дома для ваших любимцев. Наша команда по-прежнему растет и
            развивается, чтобы обеспечивать вас надежными решениями для ухода за
            животными.
          </p>
        </ul>
        <p>
          Благодарим вас за долгую и плодотворную историю с нами. Мы с
          нетерпением ждем будущего, наполненного заботой о вашем пушистом,
          пернатом или чешуйчатом друге. Надеемся, что вы продолжите с нами это
          удивительное путешествие.
        </p>
      </section>
      <section>
        <h1 id="rekv">Наши реквизиты:</h1>
        <p>Юридическое наименование: ООО "Зоо Шоп"</p>
        <address>
          Юридический и почтовый адрес: г. Минск, ул. Гикало, 9<br />
          Телефон: +375 (29) 565-65-66<br />
          Email: main@zooshop.by<br />
          Руководитель: Гайкевич Егор Владимирович
        </address>
        <figure>
          <img src="{{ URL_MEDIA }}sertifikat.webp" alt="Фото сертификата" width="350" />
          <figcaption>Наш сертификат</figcaption>
        </figure>
      </section>
      <p>
        Если у вас возникли вопросы или вам требуется дополнительная информация
        о нашей компании или реквизитах, не стесняйтесь обращаться к нам. Мы
        готовы обеспечить вас всей необходимой информацией для успешного
        сотрудничества.
      </p>
    </main>
{% endblock %}
