{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
    <main>
      <article class="article-wrapper one-article">
        <font size="4" face="Arial">
          <h1>{{ title }}</h1>
        </font>
        <font face="Arial">
          <img src="{{ image.url }}" alt="Ошибка загрузки изображения."
            height="300" />
          <div class="article-text">
            <div>
            {{ content|safe }}
            </div>
          </div>
        </font>
        <a href="{% url 'news' %}">Вернуться назад</a>
      </article>
    </main>
  </div>
</div>
{% endblock %}