{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
    <main>
      <h1 style="margin-bottom: 10px;">Словарь терминов и понятий</h1>
      <p>
        В зоомагазине мы стремимся предоставить нашим клиентам наилучшие знания
        и ресурсы для заботы о своих домашних питомцах. В этом разделе вы
        найдете объяснения различных терминов и понятий, связанных с миром
        животных, их уходом и здоровьем.
      </p>
      <section class="concept-section">
        {% for concept in concepts %}
        <details>
          <summary>{{ concept.title }}</summary>
          <p>Дата добавления на сайт: <em>
            {{ concept.pub_date|date:"d.m.Y" }}</em>
          </p>
          {{ concept.content|safe }}
        </details>
        {% endfor %}
      </section>
      <p>
        Мы постоянно обновляем наш словарь, чтобы помочь вам лучше понимать мир
        ваших питомцев и обеспечивать им заботу на высшем уровне. Если у вас
        есть вопросы или вы хотели бы узнать больше о конкретных терминах, не
        стесняйтесь обращаться к нашим специалистам.
      </p>
    </main>
  </div>
</div>
{% endblock %}