{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
    <main>
      <p class="stih">
        В нашем зоо<wbr />магазине разнообразно<br>
        Все для домашних пушистых друзей.<br>
        <q lang="ru">Здесь пусть каждый найдет своё счастье</q>,<br>
        Подарки для пушистых – в этом магазине!
      </p>
      <section class="feedback-wrap">
        <h1>Отзывы:</h1>
        <a
          href="{% if user.is_authenticated %} {% url 'account' %} {% else %} {% url 'registration' %} {% endif %}"
          class="dow-button">Добавить
          свой отзыв</a>
        {% for review in reviews %}
        <article class="feeback-article">
          <h2>{{ review.user.username }}</h2>
          <p>{{ review.text }}</p>
          <p><span class="mark">Оценка: {{ review.rating }}</span></p>
          <time datetime="2023-11-5" align="right">{{ review.date }}</time>
        </article>
        <hr />
        {% endfor %}
      </section>
    </main>
  </div>
</div>
{% endblock %}
