{% extends "base_generic.html" %}

{% block content %}
  <body>
    <div class="wrapper">
      <div class="base-main">
        <main>
          <section class="article-section">
            <font size="4" color="blue" face="Arial">
              <h1>Список новостных статей:</h1>
            </font>
            {% for article in articles %}
            <article class="article-wrapper">
              <font face="Arial">
                <h2>{{ article.title }}</h2>
                <img src="{{ article.image.url }}" alt="Ошибка загрузки изображения." height="220"/>
                <p>{{ article.short_description }}</p>
                <a href="{% url 'news'%}{{ article.id }}">Читать далее</a>
                <time datetime="{{ article.pub_date|date:"Y-m-d" }}">{{ article.pub_date|date:"d.m.Y" }}</time>
              </font>
            </article>
            {% endfor %}
            <hr />
          </section>
        </main>
      </div>
    </div class="wraper">
  </body>

{% endblock %}