{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
    <main>
      <a href="{{ URL_MEDIA }}documents/policy.txt" download class="dow-button">Скачать в виде
        документа</a>
      <h1 class="center-caption">Политика конфиденциальности</h1>
      <div class="privacy-wrap">
        <p><em>Обновлено: 02.05.2023</em></p>
        <p>
          Мы в <b><abbr
              title="Общество с ограниченной ответственностью">ООО</abbr> "Zoo
            Shop"</b> ценим ваше доверие и обязуемся соблюдать
          конфиденциальность ваших личных данных. Наша Политика конфиденциальности
          разработана для того, чтобы помочь вам понять, какие данные мы собираем,
          зачем они нам нужны и как мы используем эту информацию.
        </p>
        <h2>Собираемая информация</h2>
        <p>Мы можем собирать следующие категории информации:</p>
        <ol>
          <li>
            <p>
              Личная информация, такая как имя, адрес, номер телефона и адрес
              электронной почты, которую вы предоставляете добровольно при
              оформлении заказов или регистрации на нашем сайте.
            </p>
          </li>
          <li>
            <p>
              Информация о ваших питомцах, чтобы предоставить более
              персонализированные рекомендации и услуги.
            </p>
          </li>
          <li>
            <p>
              Данные о вашем использовании нашего сайта, включая информацию о
              просмотренных страницах, покупках и интересах, собираются
              автоматически с использованием файлов cookie и аналитических
              инструментов.
            </p>
          </li>
        </ol>
        <h2>Использование информации</h2>
        <p>
          Мы используем вашу личную информацию и данные о ваших питомцах для
          следующих целей:
        </p>
        <ol>
          <li>
            <p>
              Оформление и обработка ваших заказов.
            </p>
          </li>
          <li>
            <p>
              Предоставление вам информации о наших товарах, акциях и специальных
              предложениях, если вы дали согласие на получение такой информации.
            </p>
          </li>
          <li>
            <p>
              Персонализация вашего опыта на сайте, предоставление рекомендаций и
              улучшение качества обслуживания.
            </p>
          </li>
          <li>
            <p>
              Улучшение наших продуктов и услуг, а также проведение аналитических
              и маркетинговых исследований.
            </p>
          </li>
        </ol>
        <h2>Совместное использование данных</h2>
        <p>
          Мы строго соблюдаем вашу конфиденциальность и не продаем, не арендуем и
          не передаем ваши личные данные третьим лицам без вашего согласия. Мы
          можем разглашать ваши данные только в следующих случаях:
        </p>
        <ul>
          <li>
            <p>
              Поставщикам услуг, которые непосредственно связаны с выполнением
              наших обязательств перед вами (например, доставка товаров).
            </p>
          </li>
          <li>
            <p>
              При соблюдении законных требований правоохранительных органов или в
              случае судебных запросов.
            </p>
          </li>
        </ul>
        <h2>Защита данных</h2>
        <p>
          Мы принимаем все необходимые меры для обеспечения безопасности ваших
          данных, включая защиту от несанкционированного доступа и использования.
          Мы также регулярно обновляем наши системы и меры безопасности, чтобы
          обеспечить надежную защиту ваших данных.
        </p>
        <h2>Изменения в политике конфиденциальности</h2>
        <p>
          Мы оставляем за собой право время от времени обновлять нашу Политику
          конфиденциальности. Любые изменения будут опубликованы на этой странице,
          и мы рекомендуем вам периодически проверять эту страницу для
          ознакомления с обновлениями.
        </p>
        <p>
          Если у вас есть какие-либо вопросы или запросы относительно нашей
          Политики конфиденциальности, пожалуйста, свяжитесь с нами через
          <em>main@zooshop.by</em> или <em>+375 (29) 565-65-66</em>.
        </p>
        <p>
          Благодарим вас за доверие, которое вы оказываете ООО "Zoo Shop". Мы
          гарантируем, что ваши данные будут использованы с заботой и в
          соответствии с нашими обязательствами по защите вашей
          конфиденциальности.
        </p>
      </div>
    </main>
  </div>
</div>
{% endblock %}