{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
    <main class="promo-wrap">
      <h1>Промокоды и купоны</h1>
      <p>
        Для наших уважаемых клиентов мы предоставляем специальные промокоды и
        купоны, которые позволяют вам получить скидки и дополнительные бонусы
        при покупке товаров для ваших питомцев. Ниже вы найдете список
        действующих промокодов и купонов, а также архив предыдущих акций.
      </p>
      <h2>Действующие купоны:</h2>
      <div class="grid-container">
        <div class="item">
          <h4>СКИДКА15</h4>
          <p>Получите 15% скидку на весь ассортимент при заказе на сумму свыше
            100 рублей.</p>
          <p><span class="deistv">Действителен до 15.12.2023</span></p>
        </div>
        <div class="item">
          <h4>БЕСПЛАТНАЯДОСТАВКА</h4>
          <p>Бесплатная доставка при заказе на сумму свыше 40 рублей.</p>
          <p><span class="deistv">Действителен до 02.02.2024</span></p>
        </div>
        <div class="item">
          <h4>ХАЛЯВА</h4>
          <p>Скидка 5% на всё и беслатная доставка при заказе от 50 рублей.</p>
          <p><span class="deistv">Действителен до 12.07.2024</span></p>
        </div>
        <div class="item">
          <h4>КОРМУШКА</h4>
          <p>Скидка 10% при заказе от 5 кормов.</p>
          <p><span class="deistv">Действителен до 25.01.2024</span></p>
        </div>
      </div>
      <h2>Архивные купоны:</h2>
      <div class="grid-container">
        <div class="item2">
          <h4>ЛЕТО2023</h4>
          <p>10% скидка на товары для активного отдыха с питомцем.</p>
          <p><span class="deistv">Действовал с 01.06.2023 по 01.08.2023</span>
          </p>
        </div>
        <div class="item2">
          <h4>ПАСХАЛЬНЫЙПОДАРОК</h4>
          <p>Сюрприз на Пасху: бесплатная игрушка для вашего питомца при покупке
            корма.</p>
          <p><span class="deistv">Действовал с 12.04.2023 по 08.04.2023</span>
          </p>
        </div>
      </div>

      <p>Мы регулярно обновляем наши промокоды и купоны, чтобы обеспечивать вас
        лучшими предложениями. Пожалуйста, убедитесь, что вы используете
        актуальные промокоды при оформлении заказа. Если у вас есть вопросы по
        использованию промокодов или купонов, не стесняйтесь связаться с нашей
        службой поддержки.</p>
      <!--<figure>
        <code>
            def say_hello():<br />&nbsp print("Hello, Zoo World!")
            <br /><br />say_hello()
        </code>
        <figcaption><br />Say hello!</figcaption>
      </figure>
      <br />
      <audio controls autoplay>
        <source src="{{ URL_MEDIA }}audio/audio.mp3" />
      </audio>-->
    </main>
  </div>
</div>

{% endblock %}