{% extends "base_generic.html" %}

{% block content %}

<main>
      <h1>Промокоды и купоны</h1>
      <p>
        Для наших уважаемых клиентов мы предоставляем специальные промокоды и
        купоны, которые позволяют вам получить скидки и дополнительные бонусы
        при покупке товаров для ваших питомцев. Ниже вы найдете список
        действующих промокодов и купонов, а также архив предыдущих акций.
      </p>
      <table border="1">
        <tr>
          <th id="number">Номер</th>
          <th id="name">Название</th>
          <th id="detail">Описание</th>
          <th id="sr">Срок действия</th>
        </tr>
        <tr>
          <th id="first" headers="number">1.</th>
          <td headers="name first">СКИДКА15</td>
          <td headers="detail first">
            Получите 15% скидку на весь ассортимент при заказе на сумму свыше
            100 рублей.
          </td>
          <td headers="sr first">Действителен до 15.12.2023.</td>
        </tr>
        <tr>
          <th id="second" headers="number">2.</th>
          <td headers="name second">БЕСПЛАТНАЯДОСТАВКА</td>
          <td headers="detail second">
            Бесплатная доставка при заказе на сумму свыше 40 рублей.
          </td>
          <td headers="sr second">Действителен до 02.02.2024.</td>
        </tr>
        <tr>
          <th id="third" headers="number">3.</th>
          <td headers="name third">ЛЕТО2023</td>
          <td headers="detail third">
            10% скидка на товары для активного отдыха с питомцем.
          </td>
          <td headers="sr third">Действовал с 01.06.2023 по 01.08.2023.</td>
        </tr>
        <tr>
          <th id="fourth" headers="number">4.</th>
          <td headers="name fourth">ПАСХАЛЬНЫЙПОДАРОК</td>
          <td headers="detail fourth">
            Сюрприз на Пасху: бесплатная игрушка для вашего питомца при покупке
            корма.
          </td>
          <td headers="sr fourth">Действовал с 12.04.2023 по 08.04.2023.</td>
        </tr>
      </table>
      <p>Мы регулярно обновляем наши промокоды и купоны, чтобы обеспечивать вас лучшими предложениями. Пожалуйста, убедитесь, что вы используете актуальные промокоды при оформлении заказа. Если у вас есть вопросы по использованию промокодов или купонов, не стесняйтесь связаться с нашей службой поддержки.</p>
    </main>

{% endblock %}