{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div class="base-main">
<main>
      <blockquote>
        В ООО <em>'Zoo Shop'</em> мы считаем, что работа с животными и их
        заботой - это не просто бизнес, это <strong>наше призвание</strong>. Наш
        успех зависит от того, насколько преданы мы нашей миссии - обеспечивать
        заботу, радость и здоровье для каждого пушистого, пернатого или
        чешуйчатого друга. Каждый сотрудник вносит свой вклад в эту важную
        миссию, и вместе мы делаем наш магазин лучше каждый день.
      </blockquote>
      <p align="right"><b>Генеральный директор</b></p>
      <h1>Список вакансий</h1>
      <ol class="vac-list">
        <li class="float-left">Продавец-консультант — </li>
        <p class="float-right">
          Мы ищем энергичного и ответственного продавца-консультанта для работы
          в нашем зоомагазине. Задачи включают в себя консультирование клиентов
          по выбору кормов, аксессуаров и товаров для домашних животных,
          обработку заказов, поддержание чистоты и порядка в магазине. Опыт
          работы с животными приветствуется.
        </p>
        <li class="float-left">Ветеринарный специалист — </li>
        <p class="float-right">
          Мы ищем опытного ветеринарного специалиста для консультирования
          клиентов по вопросам здоровья и ухода за домашними животными. Задачи
          включают в себя предоставление медицинских рекомендаций, вакцинацию,
          дегельминтизацию и обследование животных. Лицензия ветеринарного врача
          обязательна.
        </p>
        <li class="float-left">Менеджер по закупкам — </li>
        <p class="float-right">
          Мы ищем опытного менеджера по закупкам, который будет отвечать за
          выбор и закупку товаров для нашего ассортимента. Задачи включают в
          себя поиск новых поставщиков, анализ рынка, управление запасами и
          сотрудничество с поставщиками. Опыт в сфере закупок и знание рынка
          товаров для животных приветствуется.
        </p>
        <li class="float-left">Специалист по маркетингу и рекламе — </li>
        <p class="float-right">
          Мы ищем творчного специалиста по маркетингу и рекламе для продвижения
          наших товаров и услуг. Задачи включают в себя создание рекламных
          кампаний, управление социальными медиа, разработку акций и
          сотрудничество с рекламными агентствами. Опыт в маркетинге и знание
          инструментов продвижения обязательны.
        </p>
      </ol>
      <p>
        Если вы заинтересованы в одной из этих вакансий и считаете, что
        соответствуете требованиям, пожалуйста, отправьте ваше резюме и
        сопроводительное письмо на <em>main@zooshop.by</em>. Мы рады приветствовать новых
        членов команды, готовых делать наш зоомагазин еще лучше для наших
        клиентов и их питомцев.
      </p>
    </main>
  </div>
</div>

{% endblock %}